## 1. Imports

In [195]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

In [196]:
# import a function
from math import sqrt
sqrt(25)    # no longer have to reference the module

5.0

In [197]:
# import multiple functions at once
from math import cos, floor

In [198]:
# import all functions in a module (generally discouraged)
from csv import *

In [199]:
# define an alias
import datetime as dt

In [200]:
# show all functions in math module
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 2. Data Types

**Determine the type of an object:**

In [201]:
type(2)

int

In [202]:
type(2.0)

float

In [203]:
type('two')

str

In [204]:
type(True)

bool

In [205]:
type(None)

NoneType

**Check if an object is of a given type:**

In [206]:
isinstance(2.0, int)

False

In [207]:
isinstance(2.0, (int, float))

True

**Convert an object to a given type:**

In [208]:
float(2)

2.0

In [209]:
int(2.9)

2

In [210]:
str(2.9)

'2.9'

**Zero, `None`, and empty containers are converted to `False`:**

In [211]:
bool(0)

False

In [212]:
bool(None)

False

In [213]:
bool('')    # empty string

False

In [214]:
bool([])    # empty list

False

In [215]:
bool({})    # empty dictionary

False

**Non-empty containers and non-zeros are converted to `True`:**

In [216]:
bool(2)

True

In [217]:
bool('two')

True

In [218]:
bool([2])

True

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 3. Math

In [219]:
10 + 4

14

In [220]:
10 - 4

6

In [221]:
10 * 4

40

In [222]:
10 ** 4    # exponent

10000

In [223]:
5 % 4      # modulo - computes the remainder

1

In [224]:
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5
10 / 4

2.5

In [225]:
10 / float(4)

2.5

In [226]:
# force '/' in Python 2 to perform 'true division' (unnecessary in Python 3)
from __future__ import division

In [227]:
10 / 4     # true division

2.5

In [228]:
10 // 4    # floor division

2

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 4. Comparisons and Boolean Operations

**Assignment statement:**

In [229]:
x = 5

**Comparisons:**

In [230]:
x > 3

True

In [231]:
x >= 3

True

In [232]:
x != 3

True

In [233]:
x == 5

True

**Boolean operations:**

In [234]:
5 > 3 and 6 > 3

True

In [235]:
5 > 3 or 5 < 3

True

In [236]:
not False

True

In [237]:
False or not False and True     # evaluation order: not, and, or

True

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 5. Conditional Statements

In [238]:
# if statement
if x > 0:
    print('positive')

positive

In [239]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero or negative')

positive

In [240]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [241]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [242]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 6. Lists

- **List properties:** ordered, iterable, mutable, can contain multiple data types

In [243]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [244]:
# create a list
simpsons = ['homer', 'marge', 'bart']

**Examine a list:**

In [245]:
# print element 0
simpsons[0]

'homer'

In [246]:
len(simpsons)

3

**Modify a list (does not return the list):**

In [247]:
# append element to end
simpsons.append('lisa')
simpsons

['homer', 'marge', 'bart', 'lisa']

In [248]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [249]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [250]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

['maggie', 'homer', 'marge', 'lisa', 'itchy', 'scratchy']

In [251]:
# remove element 0 and return it
simpsons.pop(0)

'maggie'

In [252]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

['marge', 'lisa', 'itchy', 'scratchy']

In [253]:
# replace element 0
simpsons[0] = 'krusty'
simpsons

['krusty', 'lisa', 'itchy', 'scratchy']

In [254]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

['krusty', 'lisa', 'itchy', 'scratchy', 'ned', 'rod', 'todd']

**Find elements in a list:**

In [255]:
# counts the number of instances
simpsons.count('lisa')

1

In [256]:
# returns index of first instance
simpsons.index('itchy')

2

**List slicing:**

In [257]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [258]:
# element 0
weekdays[0]

'mon'

In [259]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [260]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [261]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [262]:
# last element
weekdays[-1]

'fri'

In [263]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [264]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [265]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

**Sort a list in place (modifies but does not return the list):**

In [266]:
simpsons.sort()
simpsons

['itchy', 'krusty', 'lisa', 'scratchy']

In [267]:
# sort in reverse
simpsons.sort(reverse=True)
simpsons

['scratchy', 'lisa', 'krusty', 'itchy']

In [268]:
# sort by a key
simpsons.sort(key=len)
simpsons

['lisa', 'itchy', 'krusty', 'scratchy']

**Return a sorted list (does not modify the original list):**

In [269]:
sorted(simpsons)

['itchy', 'krusty', 'lisa', 'scratchy']

In [270]:
sorted(simpsons, reverse=True)

['scratchy', 'lisa', 'krusty', 'itchy']

In [271]:
sorted(simpsons, key=len)

['lisa', 'itchy', 'krusty', 'scratchy']

**Insert into an already sorted list, and keep it sorted:**

In [272]:
num = [10, 20, 40, 50]
from bisect import insort
insort(num, 30)
num

[10, 20, 30, 40, 50]

**Object references and copies:**

In [273]:
# create a second reference to the same list
same_num = num

In [274]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 30, 40, 50]
[0, 20, 30, 40, 50]

In [275]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

**Examine objects:**

In [276]:
num is same_num    # checks whether they are the same object

True

In [277]:
num is new_num

False

In [278]:
num == same_num    # checks whether they have the same contents

True

In [279]:
num == new_num

True

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 7. Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [280]:
# create a tuple directly
digits = (0, 1, 'two')

In [281]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [282]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

**Examine a tuple:**

In [283]:
digits[2]

'two'

In [284]:
len(digits)

3

In [285]:
# counts the number of instances of that value
digits.count(0)

1

In [286]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [287]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [288]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

**Other tuple operations:**

In [289]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [290]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [291]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 8. Strings

- **String properties:** iterable, immutable

In [292]:
# convert another data type into a string
s = str(42)
s

'42'

In [293]:
# create a string directly
s = 'I like you'

**Examine a string:**

In [294]:
s[0]

'I'

In [295]:
len(s)

10

**String slicing is like list slicing:**

In [296]:
s[:6]

'I like'

In [297]:
s[7:]

'you'

In [298]:
s[-1]

'u'

**Basic string methods (does not modify the original string):**

In [299]:
s.lower()

'i like you'

In [300]:
s.upper()

'I LIKE YOU'

In [301]:
s.startswith('I')

True

In [302]:
s.endswith('you')

True

In [303]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [304]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [305]:
# returns -1 since not found
s.find('hate')

-1

In [306]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

**Split a string:**

In [307]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [308]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [309]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

**Join or concatenate strings:**

In [310]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [311]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

**Remove whitespace from the start and end of a string:**

In [312]:
s5 = '  ham and cheese  '
s5.strip()

'ham and cheese'

**String substitutions:**

In [313]:
# old way
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [314]:
# new way
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [315]:
# new way (using named arguments)
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'raining cats and dogs'

**String formatting ([more examples](https://mkaz.tech/python-string-format.html)):**

In [316]:
# use 2 decimal places
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

**Normal strings versus raw strings:**

In [317]:
# normal strings allow for escaped characters
print('first line\nsecond line')

first line
second line

In [318]:
# raw strings treat backslashes as literal characters
print(r'first line\nfirst line')

first line\nfirst line

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 9. Dictionaries

- **Dictionary properties:** unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

In [319]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [320]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [321]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

**Examine a dictionary:**

In [322]:
# pass a key to return its value
family['dad']

'homer'

In [323]:
# return the number of key-value pairs
len(family)

3

In [324]:
# check if key exists in dictionary
'mom' in family

True

In [325]:
# dictionary values are not checked
'marge' in family

False

In [326]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [327]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

dict_values(['homer', 'marge', 6])

In [328]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

**Modify a dictionary (does not return the dictionary):**

In [329]:
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

In [330]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball ii'}

In [331]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [332]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'kids': ['bart', 'lisa']}

In [333]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [334]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart', 'lisa'],
 'baby': 'maggie',
 'grandpa': 'abe'}

**Access values more safely with `get`:**

In [335]:
family['mom']

'marge'

In [336]:
# equivalent to a dictionary lookup
family.get('mom')

'marge'

In [337]:
# this would throw an error since the key does not exist
# family['grandma']

In [338]:
# return None if not found
family.get('grandma')

In [339]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

**Access a list element within a dictionary:**

In [340]:
family['kids'][0]

'bart'

In [341]:
family['kids'].remove('lisa')
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart'],
 'baby': 'maggie',
 'grandpa': 'abe'}

**String substitution using a dictionary:**

In [342]:
'youngest child is %(baby)s' % family

'youngest child is maggie'

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 10. Sets

- **Set properties:** unordered, iterable, mutable, can contain multiple data types
- Made of unique elements (strings, numbers, or tuples)
- Like dictionaries, but with keys only (no values)

In [343]:
# create an empty set
empty_set = set()

In [344]:
# create a set directly
languages = {'python', 'r', 'java'}

In [345]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])

**Examine a set:**

In [346]:
len(languages)

3

In [347]:
'python' in languages

True

**Set operations:**

In [348]:
# intersection
languages & snakes

{'python'}

In [349]:
# union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [350]:
# set difference
languages - snakes

{'java', 'r'}

In [351]:
# set difference
snakes - languages

{'cobra', 'viper'}

**Modify a set (does not return the set):**

In [352]:
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [353]:
# try to add an existing element (ignored, no error)
languages.add('r')
languages

{'java', 'python', 'r', 'sql'}

In [354]:
# remove an element
languages.remove('java')
languages

{'python', 'r', 'sql'}

In [355]:
# try to remove a non-existing element (this would throw an error)
# languages.remove('c')

In [356]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'python', 'r', 'sql'}

In [357]:
# remove and return an arbitrary element
languages.pop()

'python'

In [358]:
# remove all elements
languages.clear()
languages

set()

In [359]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

{'go', 'spark'}

**Get a sorted list of unique elements from a list:**

In [360]:
sorted(set([9, 0, 2, 1, 0]))

[0, 1, 2, 9]

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 11. Defining Functions

**Define a function with no arguments and no return values:**

In [361]:
def print_text():
    print('this is text')

In [362]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

In [363]:
def print_this(x):
    print(x)

In [364]:
# call the function
print_this(3)

3

In [365]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)

3

**Define a function with one argument and one return value:**

In [366]:
def square_this(x):
    return x**2

In [367]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [368]:
# call the function
square_this(3)

9

In [369]:
# assigns 9 to var, but does not print 9
var = square_this(3)

**Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):**

In [370]:
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [371]:
# call the function
calc(10, 4, op='add')

14

In [372]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [373]:
# default for 'op' is 'add'
calc(10, 4)

14

In [374]:
calc(10, 4, 'sub')

6

In [375]:
calc(10, 4, 'div')

valid operations are add and sub

**Use `pass` as a placeholder if you haven't written the function body:**

In [376]:
def stub():
    pass

**Return two values from a single function:**

In [377]:
def min_max(nums):
    return min(nums), max(nums)

In [378]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [379]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 12. Anonymous (Lambda) Functions

- Primarily used to temporarily define a function for use by another function

In [428]:
# define a function the "usual" way
def squared(x):
    return x**2

In [429]:
# define an identical function using lambda
squared = lambda x: x**2

**Sort a list of strings by the last letter:**

In [430]:
# without using lambda
simpsons = ['homer', 'marge', 'bart']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

['marge', 'homer', 'bart']

In [431]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

['marge', 'homer', 'bart']

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 13. For Loops and While Loops

**`range` returns a list of integers (Python 2) or a sequence (Python 3):**

In [384]:
# includes the start value but excludes the stop value
range(0, 3)

range(0, 3)

In [385]:
# default start value is 0
range(3)

range(0, 3)

In [386]:
# third argument is the step value
range(0, 5, 2)

range(0, 5, 2)

In [387]:
# Python 2 only: use xrange to create a sequence rather than a list (saves memory)
# xrange(100, 100000, 5)

**`for` loops:**

In [388]:
# not the recommended style
fruits = ['apple', 'banana', 'cherry']
for i in range(len(fruits)):
    print(fruits[i].upper())

APPLE
BANANA
CHERRY

In [389]:
# recommended style
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [390]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

dad homer
mom marge
size 6

In [391]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

**`for`/`else` loop:**

In [392]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

**`while` loop:**

In [393]:
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1    # equivalent to 'count = count + 1'

This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 14. Comprehensions

**List comprehension:**

In [411]:
# for loop to create a list of cubes
nums = [1, 2, 3, 4, 5]
cubes = []
for num in nums:
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125]

In [412]:
# equivalent list comprehension
cubes = [num**3 for num in nums]
cubes

[1, 8, 27, 64, 125]

In [413]:
# for loop to create a list of cubes of even numbers
cubes_of_even = []
for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

[8, 64]

In [414]:
# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
cubes_of_even = [num**3 for num in nums if num % 2 == 0]
cubes_of_even

[8, 64]

In [415]:
# for loop to cube even numbers and square odd numbers
cubes_and_squares = []
for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)
cubes_and_squares

[1, 8, 9, 64, 25]

In [416]:
# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

[1, 8, 9, 64, 25]

In [417]:
# for loop to flatten a 2d-matrix
matrix = [[1, 2], [3, 4]]
items = []
for row in matrix:
    for item in row:
        items.append(item)
items

[1, 2, 3, 4]

In [418]:
# equivalent list comprehension
items = [item for row in matrix
              for item in row]
items

[1, 2, 3, 4]

**Set comprehension:**

In [419]:
fruits = ['apple', 'banana', 'cherry']
unique_lengths = {len(fruit) for fruit in fruits}
unique_lengths

{5, 6}

**Dictionary comprehension:**

In [420]:
fruit_lengths = {fruit:len(fruit) for fruit in fruits}
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6}

In [421]:
fruit_indices = {fruit:index for index, fruit in enumerate(fruits)}
fruit_indices

{'apple': 0, 'banana': 1, 'cherry': 2}

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]

## 15. Map and Filter

**`map` applies a function to every element of a sequence and returns a list (Python 2) or iterator (Python 3):**

In [422]:
simpsons = ['homer', 'marge', 'bart']
map(len, simpsons)

In [423]:
# equivalent list comprehension
[len(word) for word in simpsons]

[5, 5, 4]

In [424]:
map(lambda word: word[-1], simpsons)

In [425]:
# equivalent list comprehension
[word[-1] for word in simpsons]

['r', 'e', 't']

**`filter` returns a list (Python 2) or iterator (Python 3) containing the elements from a sequence for which a condition is `True`:**

In [433]:
nums = range(5)
[filter(lambda x: x % 2 == 0, nums)]

In [427]:
# equivalent list comprehension
[num for num in nums if num % 2 == 0]

[0, 2, 4]

[<a href="#Python-Quick-Reference-by-Data-School">Back to top</a>]